@page
@model WebApp.Pages.UsersModel
@{
}

<!--<script src="c:\users\graci\source\repos\cenfocinemas\webapp\wwwroot\js\pages\users.js"></script>-->
<script src="~/js/pages/users.js"></script>

<h1>Users list</h1>
<div class="bs-docs-section">
    <div class="row">
        <legend>Users list</legend>
        <div class="col-lg-12">
            <table id="tblUsers" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>UserCode</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>BirthDate</th>
                        <th>Status</th>
                        
                    </tr>
                </thead>

            </table>

        </div>
    </div>
</div>